			body{
				background-color: #efefef;
				margin:0;
			}
			
			a{
				/* color: white; */
				text-decoration: none;
			}

			*{
				margin:0;
				padding:0;
			}
			
			hr{
				height:0;
				border:none;
				border-top:1px solid #dedede;
			}

			h1,h2,h3,h4,h5,h6{
				font-weight: normal;
			}


			ul,ol{
				list-style: none;
			}

			main{
				margin-top:-340px;
			}
			
			main .button{
				color:#515761;
				font-size:14px;
				padding:21px 55px;
				line-height:16px;
				border:1px #cbcdcf solid;
				display:inline-block;
				/* margin-left:auto;
				margin-right: auto; */
				border-radius: 2px;
				font-weight:bold;
				margin: 31px 0;
				transition: box-shadow 0.3s;
			}

			main .button:hover{
				box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.4);
			}


			main .button-wrapper{
				text-align: center;
			}

			.topNavBar .logo{
				font-size: 24px;
				font-family:"arial black";
			}
			
			.topNavBar .logo .rs{
				margin-right:4px;
				color:#da6f6f;
			}
			
			.topNavBar .logo .card{
				color:#9a9da1;
			}
			
			.clearfix::after{
				content:'';
				display:block;
				clear:both;
				
			}
			
			.topNavBar{
				padding-top:25px;
				padding-bottom:25px;
				padding-left:0px;
				padding-right:0px;
				position: fixed;
				top:0;
				left:0;
				width:100%;
			}
			
			.topNavBar-inner{
				margin:0 16px;
			}

			.topNavBar nav>ul{
				list-style: none;
				margin:0;
				padding:0;
				/* border:1px solid red; */
				
			}
			
			.topNavBar nav>ul>li{
				float:left;
				margin-left:17px;
				margin-right:17px;
			}
			
			.topNavBar nav>ul>li>a{
				font-size:12px;
				color: #cccbcc;
				text-decoration: none;
				font-weight: bold;
				border-top:3px solid transparent;
				border-bottom: 3px solid transparent;
				display: block;
				padding-top:5px;
				padding-bottom:5px;
			}
			
			.topNavBar nav>ul>li>a:hover{
				border-bottom: #da6f6f 3px solid;
			}

			.banner{
				height: 514px;
				background-image:url(./img/rscover.jpg); 
				background-position: center center;
				background-size: cover;
			}

			.banner .mask{
				height: 514px;
				/* background-color:#242832;
				opacity: 0.8; */
				background-color:rgba(0,0,0,0.7);
				/* rgba */
			}

			.usercard{
				/* border:1px solid red; */
				max-width: 930px;
				margin-left:auto;
				margin-right:auto;	
				background-color: #ffffff;
				box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.4);
			}

			.usercard .welcome{
				color: #ffffff;
				background-color:#da6f6f;
				padding: 4px 16px;
				display: inline-block;
				line-height: 22px;
				position: relative;
				margin-bottom:10px;
				/* display: inline-block;
				height:29px;
				width:69px;
				line-height: 29px;
				text-align: center; */
			}

			.usercard .welcome .triangle{
				display: block;
				width:0;
				border:8px solid transparent;
				/* border-left-color: #da6f6f; */
				border-left-color:#da6f6f;	
				border-top-width: 0px;
				position: absolute;
				left:4px;
				top:100%;
			}
			.usercard .pictureAndtext{
				padding:50px;
			}

			.usercard .picture{
				margin-right:65px;
				float:left;
			}

			.usercard .text{
				width:470px;
				float:left;
			}
			
			.usercard .text h1{
				margin-top: 18px;
			}

			.usercard .text hr{
				margin: 20px 0;
			}

			.usercard dl dt,
			.usercard dl dd	
			{
				float:left;
				padding: 5px 0;
			}

			.usercard dl dt{
				width:30%;
				font-weight: bold;
			}

			.usercard dl dd{
				width:70%;
				color: #9da0a7;
			}

			.usercard footer.media{
				text-align: center;
				background-color: #da6f6f;
			}

			.usercard footer a{
				display: inline-block;
				border-radius: 50%;
				width:40px;
				/* height:40px;
				line-height:40px; */
				padding: 5px 0;
				line-height: 30px;
				margin:16px;
			}

			.usercard footer a:hover{
				background:#cf5d5f;
			}

			.usercard svg{
				width:30px;
				height:30px;
				fill:white;
				vertical-align:top;
				/* vertical-align:middle; */
			}

			.introduction{
				max-width: 930px;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
			}

			section.skills,section.portfolio{
				max-width:940px;
				margin-left:auto;
				margin-right:auto; 
				margin-top:60px;
				/* border:1px solid black; */
			}

			section.skills>h2,section.portfolio>h2{
				color: #3d4451;
				font-size: 34px;
				line-height: 1.2;
				font-weight: 600;
				text-align:center;
			}

			section.skills ol{
				box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.4);
				background-color: white;
				padding:42px 50px 10px;
				margin:30px;
			}

			section.skills ol li{
				float:left;
				width:48%;
				/* box-sizing: border-box; */
				/* padding-right: 40px; */
			}

			section.skills ol li:nth-child(even){
				float:right;
				width:48%;
				/* box-sizing: border-box; */
				/* padding-right: 40px; */
			}

			section.skills .progressBar{
				height:6px;
				background-color: #f8e2e2;
				border-radius: 2px;
				margin:4px 0 40px;

			}

			section.skills .progressBar .progress{
				height:100%;
				background-color: #da6f6f;
				width: 50%;
				border-radius: 2px;
			}

			section.skills>li>h3{
				font-size: 14px;
				line-height: 1.1;
				padding-right: 40px;
			}

			section.portfolio{
				text-align:center;
			}

			section.portfolio nav{
				text-align:center;
			}

			section.portfolio ol{
				/* border:1px solid red; */
				display: inline-block;
				vertical-align: top;
			}

			section.portfolio ol li{
				float: left;
				margin-left: 40px;
				cursor: pointer;
			}

			section.portfolio ol li:nth-child(1){
				margin-left: 0;
			}

			section.portfolio nav {
				display: inline-block;
				vertical-align: top;
				margin-top: 32px;
			}

			section.portfolio nav .bar {
				height:5px;
				background-color: white;
				border-radius: 2px;
				margin-top: 5px;
				margin-bottom: 40px;
			}

			section.portfolio nav .bar .barInner {
				height: 100%;
				width:20%;
				background-color:#e6686a ;
				border-radius: 2px;
			}

			section.portfolio nav .bar .barInner {
				height: 100%;
				background-color:#e6686a ;
				border-radius: 2px;
				transition: all 0.3s;
			}

			section.portfolio nav .bar.state-1 .barInner {
				margin-left:0;
				width:30%;
			}

			section.portfolio nav .bar.state-2 .barInner {
				margin-left:30%;
				width:30%;
			}

			section.portfolio nav .bar.state-3 .barInner {
				margin-left:60%;
				width:40%;
			}

			section.portfolio .works{
				position: relative;
				height:576px;
				/* border:1px solid red; */
				margin-bottom: 20px;
			}

			section.portfolio .works .big,
			section.portfolio .works .small
			{
				position:absolute;
			}

			section.portfolio .works .big{
				top:0;
				left:0;
			}

			section.portfolio .works .smalltop{
				top:0;
				left:640px;
			}

			section.portfolio .works .smallbottom{
				top:297px;
				left:640px;
			}